<IfModule mod_rewrite.c>
RewriteEngine On

# Redirects requests from www.danrosefishing.com to danrosefishing.com
RewriteCond %{HTTP_HOST} ^www\.danrosefishing\.com$
RewriteRule ^/?$ "http://danrosefishing.com/" [R=301,L]

# Redirects all non-HTTPS requests to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Route requests for non-existent files or directories to 'home?home/$1'
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ home?home/$1 [L]
</IfModule>
